
.container {
  background-color: rgb(248, 240, 240);
  max-height: auto;
  width: 45%;
  margin-left: 26%;
  padding: 10px;
  margin-top: 10%;
  border-radius: 30px;
  box-shadow: 5px 5px 15px #8a504ab7;
}

button{
  margin-top: 3%;
    margin-left: 5%;
    padding: 4px 8px;
    border-radius: 15px;
    background: #272af5;
    font: Source Sans Pro, sans-serif
  }

.form-control{
  width: 80%;
}

.form-login{
 justify-content: center;
 margin-top: 10%;
}

.mb-3{
  margin-top: 3%;
}

a {
  margin-top: 2%;
  margin-left: 5%;
}
