
 
    <div class="container">
      <div class="row text-center prin center">

          <h1 class="page-title">
            Conversor de moedas
          </h1>

          
          <select [(ngModel)]="moeda2" class="form-select" aria-label="Default select example">
            <option  selected>Selecione a moeda que você ser converter</option>
            <option  *ngFor="let item of lista" [value]="item.high" >{{item.name}}</option>
          </select>
          <input [(ngModel)]="moeda1" class="form-select" aria-label="Default select example" placeholder="Digite o valor a ser convertido">
          <option  selected></option>

         <button  (click)="fazerConversao()" class="btn-primary btn-convert">Converter</button>
      
         <button  class="btn-primary btn-convert" (click)="sair()">Sair</button>
    
            <b>Resultado:</b>

            <h6> R$ {{resultadoConvercao}}</h6>

      </div>
      
  </div>

