<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
      HOME
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li><button class="dropdown-item" type="button"> 1 opção </button></li>
      <li><button class="dropdown-item" type="button"> 2 opção </button></li>
      <li><button class="dropdown-item" type="button"> 3 opção </button></li>
    </ul>
  </div>
